@font-face {
font-family: "MontserratMedium";
src: url("MontserratMedium.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Montserrat";
src: url("Montserrat.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "MontserratBold";
src: url("MontserratBold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}


html, body {height:100%;}
body    {margin:0; font-family: Arial, Helvetica, sans-serif; color:white; background-color:black;}
section {overflow:hidden; margin: 0 auto;}
h1 {display:none;}
h2 {font-family: Tahoma, Verdana, Helvetica, sans-serif; font-size:51px; color:#20EB00; margin-top:0; margin-bottom:57px;}
header.mobi {display:none !important;}
a        {color:inherit; text-decoration:inherit;}
a.anchor {display:block; position:relative; top:2px; visibility:hidden;}
a#create_{top:-143px;}
a#projects_, a#why_ {top:-262px;}

.fix     {position:fixed; width:100%; z-index:3; background-color: rgba(0, 0, 0, 0.74);}
header.desk {display:flex; height:81px; margin: 0 auto; max-width:1220px;}
.goHome {margin: auto 20px auto 0; line-height:0;}
#dPicLogo {width:229px; height:54px;}
nav    {display:flex; width:540px; margin:auto 0 auto auto; font-family:'MontserratMedium', sans-serif; font-size:12px;}
nav *  {margin: auto auto auto 0; white-space:nowrap;}
nav a:hover {color:#20EB00; border-bottom: solid 2px #20EB00; padding: 12px 0 10px 0;}
.soc   {display:flex; width:118px; margin:auto 0;}
.soc * {margin: auto auto auto 0;}
.lang   {margin: auto 0;}
.lang * {color:#20EB00;}
.langRU {margin-left:5px;}
#contact1   {width:20px; height:22px;}
#contact2   {width:23px; height:18px;}
#contact3   {width:23px; height:21px;}
.underFix   {height:81px;}
.openedMenu {display:none;}
.openedMenu .langEN, .openedMenu .langRU {color:#20EB00; display:inline-block; margin-top:30px;}
.openedMenu .langRU {margin-left:60px;}

#about1   {background:black; position:relative;}
#video    {width:100%; height:auto;}
#about2   {display:none;}


#we {
height:1095px;
background-color:black;
background-repeat:no-repeat;
background-image:url(pic/we-fonL.png), url(pic/head.png), url(pic/crossW.png), url(pic/crossWR.png), url(pic/crossG.png);
background-position: 0 -145px, 745px 90px, 30px 93px, 1220px 685px, 287px 902px;
}
.we {
width:502px;
margin: 380px 0 0 138px;
}
.content {
font-family: "Montserrat", "Segoe UI", sans-serif;
font-size:18px;
line-height:22px;
}

.men {display:none;}

.forUG {position:relative; max-width:1440px; margin: 0 auto;}
.crossUnderGreen {width:246px; height:284px; position:absolute; z-index:2; top:-250px;}
.crossGreen {width:238px; height:268px; position:absolute; z-index:2; top:-250px;}
.fonR {width:495px; height:716px; position:absolute; z-index:0; right:0; top:-225px;}


#create {
position:relative;
text-align:center;
background-repeat:no-repeat;
background-image:url(pic/crossWRs.png), url(pic/crossGRs.png);
background-position: 1185px 840px, 1270px 890px;
}
#create h2 {margin:0; line-height:0.9;}
.crt  {width:434px; margin: 46px auto 0 auto;}

.kubs {display:flex; width:1045px; height:215px; margin: 72px auto 0 auto;}
.kubs2 {margin-top:13px; margin-bottom:295px;}
.kub  {
background-color:#212121; width:25%; margin-right:15px;
font-family: "MontserratMedium", "Montserrat", "Segoe UI", sans-serif; font-size:16px;
border: solid 1px #212121;
border-radius:4px;
display:flex; flex-direction:column;
}
.kub-active  {border: solid 1px #20EB00; cursor:pointer;}
[id^="evnt"] {margin: 50px auto 0 auto;}
#evnt1 {width:100px; height:107px;}
#evnt2 {width:104px; height:107px;}
#evnt3 {width:122px; height:107px;}
#evnt4 {width:104px; height:102px; margin-bottom:5px;}
#evnt5 {width:100px; height:107px; margin-top:40px;}
#evnt6 {width:54px;  height:102px; margin-top:34px;}
#evnt7 {width:115px; height:102px; margin-top:34px;}
#evnt8 {width:109px; height:102px; margin: 34px auto 8px auto;}
.sign  {margin: 10px auto auto auto;}

#kub1, #kub8 {position:relative;}
#create .leftV  {position:absolute; border-left: solid 1px #20EB00; width:1px; height:100px; top:-79px; left:-16px;}
#create .leftH  {position:absolute; border-bottom: solid 1px #20EB00; width:325px; height:1px; top:-32px; left:-70px;}
#create .rightV {position:absolute; border-left: solid 1px #20EB00; width:1px; height:100px; bottom:-77px; right:-24px;}
#create .rightH {position:absolute; border-bottom: solid 1px #20EB00; width:325px; height:1px; bottom:-25px; right:-78px;}


#projects {
position:relative;
text-align:center;
background-repeat:no-repeat;
z-index:1;
}
#projects header {
display: flex;
width:906px;
margin: 0 auto;
}
.btnViewAll {
display:flex;
width:180px;
height:55px;
margin: auto 20px auto auto;
color:black;
background-color:#20EB00;
border-radius:5px;
font-family: "MontserratBold";
font-size:110%;
}
.btnViewAll span {
margin: auto;
}
.btnAllMob {display: none !important;}
#projects h2 {margin:0 0 0 20px;}
.blks {width:906px; height:350px; margin: 60px auto 0 auto; overflow:hidden;}
.blocks {display:flex; width:9999px; height:100%; transition: margin-left 250ms;}
.blk  {
background-color:#212121; width:266px; margin-left:17px; margin-right:17px;
font-family: "MontserratMedium", "Montserrat", "Segoe UI", sans-serif; font-size:16px;
border: solid 1px #212121;
border-radius:4px;
display:flex; flex-direction:column;
}
.blk:hover {border: solid 1px #212121;}
.projH1  {
font-family: "MontserratBold";
font-size: 42px;
color: #20EB00;
margin: 36px auto 0 auto;
}
.projH2   {margin:4px auto 0 auto; font-size:16px;}
.projTxt  {
width:230px;
margin: 25px auto 0 auto;
padding-top: 5px;
font-family:"Montserrat";
font-size:12px;
border-top: solid 1px #20EB00;
}
.prjPic   {width:266px; height:150px; margin: auto auto 0 auto; position:relative;}
.pic1     {background-image:url("pic/project1.png");}
.pic2     {background-image:url("pic/project2.png");}
.pic3     {background-image:url("pic/project3.png");}
.pic4     {background-image:url("pic/project4.png");}
.pic5     {background-image:url("pic/project5.png");}
.pic6     {background-image:url("pic/project6.png");}
.mask     {background-image:url("pic/mask.png"); width:100%; height:100%; opacity:0.65;}
.play     {width:48px; height:48px; line-height:0; position:absolute; top:51px; left:109px;}
.noplay   {display:none;}

.narrows .leftV  {position:absolute; border-left: solid 1px #20EB00; width:1px; height:100px; top:-420px; left:-18px;}
.narrows .leftH  {position:absolute; border-bottom: solid 1px #20EB00; width:325px; height:1px; top:-371px; left:-75px;}
.narrows .rightV {position:absolute; border-left: solid 1px #20EB00; width:1px; height:100px; bottom:-69px; right:-17px;}
.narrows .rightH {position:absolute; border-bottom: solid 1px #20EB00; width:325px; height:1px; bottom:-19px; right:-71px;}

.narrows {position:relative; width:906px; height:0; margin: 0 auto 270px auto;}
.prev    {position:absolute; top:-197px; left:-14px; width:14px; height:27px; background-image:url('pic/nleft.png');}
.next    {position:absolute; top:-197px; left:907px; width:14px; height:27px; background-image:url('pic/nright.png');}
.prev:hover, .next:hover {cursor:pointer;}


.forFon {position:relative; max-width:1440px; margin: 0 auto;}
.fonL   {width:774px; height:1248px; position:absolute; z-index:0; left:0; top:-895px;}
.fonRS  {width:429px; height:719px;  position:absolute; z-index:0; right:0;top:-454px;}
.fonMF  {width:616px; height:953px;  position:absolute; z-index:0; right:0;top:0px;}

#why {
margin-top:23px;
padding-bottom:50px;
background-repeat:no-repeat;
background-image:url(pic/paw.png), url(pic/crossWB.png);
background-position: 830px -15px, 1232px 385px;
}
#why h2 {line-height:1.2; margin-left:118px; margin-bottom:58px;}
.whyRow {
display:flex;
width:615px;
margin: 0 0 27px 118px;
}
.whyRow .txt {
font-family:"Montserrat";
font-size:14px;
margin-left:26px;
padding-top:3px;
}


#cont {
display:flex;
height:945px;
background-repeat:no-repeat;
background-image:url(pic/fonPod.png), url(pic/cat.png);
background-position: 0 100px, 542px bottom;
font-family:"Montserrat";
font-size:14px;
}
.contContent {
margin: auto auto 285px 140px;
}
#cont h2 {margin-bottom:41px;}
.cntName {margin-bottom:4px;}
.cntData {
font-family:"MontserratBold";
font-size:24px;
margin-bottom:15px;
}
.soc2 {margin: 24px 0 0 0; width:120px;}
.soc2 * {margin-right:9px;}
#contact1b {width:24px; height:26px;}
#contact2b {width:28px; height:22px;}
#contact3b {width:28px; height:25px;}


/* Desktops */
@media all and (min-width:1200px) {
section {max-width:1440px !important;}
}


/* Pads */
@media all and (min-width:768px) and (max-width:1199px) {
header.desk, section {max-width:1199px !important;}
.crossUnderGreen, .crossGreen {display:none;}
#kub1, #kub8 {position:inherit;}
.leftV  {display:none;}
.leftH  {display:none;}
.rightV {display:none;}
.rightH {display:none;}
.kubs   {width:100% !important;}
#projects {zoom:80%;}
}


/* Mobiles */
@media all and (max-width:767px) {
section {
display: inherit !important;
position: relative;
min-height: 100% !important;
height: auto !important;
max-width:767px !important;
}
h2 {font-size:37px !important; margin-bottom:0 !important;}
header.desk {display:none !important;}
header.mobi {display:flex !important; height:78px; max-width:767px;}
.underFix   {display:none !important;}
#logom      {width:149px; height:35px;}
.goHomeM    {margin: 22px auto auto 20px; line-height:0;}
#menu       {display:block !important; width:49px; height:22px; margin: auto 20px auto auto;}
.opened {
display: block;
width: 100%;
height: 990px;
background-color: black;
background-image: url(pic/fonMenu.png);
background-position: 0 80px;
position: absolute;
top: 78px;
left: 0;
padding: 37px 0 0 40px;
font-family:'MontserratMedium';
font-size: 19px;
}
.navMenu a {display:inline-block; border-bottom: solid 2px black; padding: 12px 0 13px 0;}
.navMenu a:hover, .navMenu a:active {border-bottom-color:#20EB00; color:#20EB00;}
a.anchor, a#create_ {top:0 !important;}
a#projects_ {top:-100px !important;}
a#why_ {top:-80px !important;}

#about1 {display:none !important;}
#about2 {
height: 100% !important;
min-height: 500px;
background: url(pic/fonm.png);
}
.waveTop  {width:54%; max-width:222px; position:absolute;}
.centerContent {display:flex; flex-direction:column; height:100%;}
.cntBlock      {margin:auto;}
.cntBlock img  {display:block;}
#bigLogo  {width:327px; height:78px;}
#noLogo   {width:304px; height:26px; padding-left:10px; padding-top:7px;}
.waveBtm  {width:58%; max-width:238px; position:absolute; top:auto; bottom:0px; right:0;}
.crossGreenm  {width:65px; height:58px; position:absolute; left:25px; bottom:0;}
.crossGm  {width:15px; height:13px; position:absolute; left:90px; bottom:40px;}


#we {background-image: none !important; height: auto !important;}
.we {width:340px !important; margin: 105px auto 0 auto !important;}
.content {font-size:15.75px !important; line-height: normal !important;}
.we h2 {margin-bottom: 22px !important;}
.men {display: block !important; width:414px; height:349px; margin: 0 auto;}

.forUG, .crossUnderGreen, .crossGreen, .fonR, .forFon, .fonL, .fonRS, .fonMF {display: none !important;}

#create {
height:auto !important;
min-height:100%;
background-image: url(pic/fonmcr.png), url(pic/fonmproj.png), url(pic/crossmpr.png) !important;
background-position: 40px -250px, 0 850px, 107px 1045px !important;
}
#create h2 {width:330px !important; margin: 90px auto 25px auto !important; text-align:left; font-size:33px !important;}
.crt       {width:330px !important; margin: 0 auto 50px auto !important; text-align:left;}

.kubs {flex-wrap:wrap; width:355px !important; height: auto !important;}
.kubs2 {margin-top:0 !important; margin-bottom:230px;}
.kub  {
width:168px !important;
height:149px !important;
margin-right:7px !important;
margin-top:7px;
font-size:11.5px !important;
}
[id^="evnt"] {margin: 35px auto 0 auto !important;}
#evnt1 {width:70px !important; height:auto !important;}
#evnt2 {width:73px !important; height:auto !important;}
#evnt3 {width:85px !important; height:auto !important;}
#evnt4 {width:73px !important; height:auto !important; margin-bottom:5px !important;}
#evnt5 {width:70px !important; height:auto !important; margin-top:auto !important;}
#evnt6 {width:38px !important; height:auto !important; margin-top:auto !important;}
#evnt7 {width:81px !important; height:auto !important; margin-top:auto !important;}
#evnt8 {width:76px !important; height:auto !important; margin:auto auto 5px auto !important;}
.sign  {margin: 5px auto auto auto !important;}

#create .leftV  {height:65px !important; top:-47px; left:-18px;}
#create .leftH  {width:185px !important; top:-19px; left:-36px;}
#create .rightV {height:65px !important; bottom:-51px; right:-21px;}
#create .rightH {width:185px !important; bottom:-17px; right:-38px;}


#projects {
height: 80% !important;
background-image: url(pic/crossWm.png), url(pic/crossGrnm.png) !important;
background-position: 300px 550px, 335px 520px !important;
}
#projects header {width:100vw;}
#projects h2 {font-size:30px !important; margin: auto;}
.btnViewAll {display: none !important;}
.btnAllMob {
display:flex !important;
width:100px;
height:50px;
color:black;
background-color:#20EB00;
border-radius:5px;
font-family: "MontserratBold";
font-size:110%;
margin: 20px auto 0 auto;
}
.btnAllMob span {
margin: auto;
}
.blks {width:302px !important; margin: 40px auto 0 auto !important;}
.blk:hover {border: solid 1px #20EB00 !important;}
.narrows .leftV, .narrows .leftH, .narrows .rightV, .narrows .rightH {display:none !important;}
.narrows {width:302px !important; margin: 0 auto !important;}
.next    {left:302px !important;}


#why {
margin-top:0 !important;
padding-bottom:0 !important;
background-image:url(pic/pawm.png), url(pic/crossWmm.png);
background-position: 20px 440px, 315px 731px;
}
#why h2 {
text-align:left;
font-size:30px !important;
margin-left:34px !important;
margin-bottom:25px !important;
}
.whyRow {
width:90% !important;
margin: 0 0 23px 30px !important;
}
.whyRow .txt {
font-size:11.75px !important;
margin-left:20px !important;
}
.marginer{height:420px;}

#cont {
min-height:calc(100% - 78px) !important;
height:calc(100% - 78px) !important;
background-image:url(pic/catm.png) !important;
background-position:0 bottom !important;
font-size:14px !important;
}
.contContent {margin: 0 auto auto 40px !important;}
#cont h2 {margin-bottom:30px !important;}
.soc2 {margin: 20px 0 0 0 !important;}

} /* End: Mobiles */


/* Small Mobiles */
@media all and (max-height:600px) {
.waveTop  {width:40%;}
.waveBtm  {width:42%;}
#cont {
background-position: right bottom !important;
background-size: auto 50%;
}

} /* End: Small Mobiles */
